@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Noto+Serif:wght@400;700&display=swap');

@import url(normalize.css);
@import url(utilitaires.css);
@import url(typo);


html {
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 85%;
    margin: auto;  
  }

/* HEADERS */
h1 {
    font-family:'Noto Serif';
    font-size: 2rem;
}
h2,
h3 {
    font-family: 'Mulish';
    font-size: 1rem;
}
header {
    background-color: rgb(128, 106, 97);
    width: 100%;
    
}

/* NAVIGATION */
.nav__liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    background-color: rgb(61, 80, 74); 
    list-style: none;   
}
a {
    font-weight: bold;
    color: white;
    list-style: none;
    font-family: 'Mulish';
}
