@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&family=Noto+Serif:wght@400;700&display=swap');

@import url(normalize.css);
@import url(utilitaires.css);
/* @import url(typo.css); 
Typo enlevé parce que j'ai travaillé dans styles.css*/


html {
    margin-left: 10rem;
    margin-right: 10rem;
    max-width: 1300px;
    margin: 0 auto;
}

main {
    max-width: 1000px;
    margin-right: 3rem;
    margin-left: 3rem;
}

img {
    max-width: 150px;
    margin: auto;
}

/* TITRE */
.titre {
    font-family: 'Noto Serif';
    font-size: 1.8rem;
    color: white;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .titre {
        font-size: 3rem;
    }
}

.jacana {
    color:rgb(42, 205, 255);
}

/* HEADERS */
h1 {
    font-family: 'Noto Serif';
    font-size: 2rem;
}

h2,
h3 {
    font-family: 'Mulish';
    font-size: 1rem;
}

header {
    background-color: rgb(128, 106, 97);
    width: 100%;
    margin-right: -15px;
    padding-top: 30px;
}

header p {
    margin-left: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
}

header a {
    text-decoration: none;
}

/* ERREURS */

.icone {
    display: inline-block;
    width: 26px;
    height: 24px;
    background-image: url("../images/icones/good-warning-error.png");
    background-size: cover;
    position: relative;
    top: 5px;
}

.icone--ok {
    background-position: 0 0;
}

.icone--avertissement {
    background-position: 49px 0;
}

.icone--erreur {
    background-position: 101px 0;
}

/* FORMULAIRES */

h2 {
    font-weight: bold;
}

fieldset {
    border: none;
}

.form__section.ctnValidation.disponibilite {
    display: flex;
    font-family: 'Mulish';
    border: 1px solid rgb(61, 80, 74);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form__section.ctnValidation.personnes {
    display: flex;
    border: 1px solid rgb(61, 80, 74);
    font-family: 'Mulish';
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form__section.ctnValidation.choixChambres {
    border: 1px solid rgb(61, 80, 74);
    font-family: 'Mulish';
}

.row li {
    display: flex;
    list-style: none;
    justify-content: center;
}

/* IMAGES DE CHAMBRES */
.chambres {
    max-width: 180px;
    margin-left: 20px;
    justify-content: center;
}
/* FILTRE POUR LES IMAGES */
input[type=radio] + label {
    filter: grayscale(100%);
}

input[type=radio]:focus + label,
input[type=radio]:hover + label,
input[type=radio]:checked + label {
    filter: none;
}
input[type=radio] {
    opacity: 0;
}

.cocher__dejeuner {
    display: block;
    justify-content: center;

}

.form__section.ctnValidation.identification {
    display: flex;
    border: 1px solid rgb(61, 80, 74);
    font-family: 'Mulish';
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* NAVIGATION */
.nav__liste {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    background-color: rgb(61, 80, 74);
    list-style: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;

}

.navigation__principale-bouton {
    display: block;
    margin-left: auto;
    background-color: rgb(61, 80, 74);
    color: white;
    font-weight: bold;
    font-family: 'Mulish';
    text-transform: uppercase;
    padding: 10px;
    margin-right: 5px;
}

.navigation__principale {
    color: white;
    font-family: 'Mulish';
    text-decoration: none;
    background-color: rgb(103, 126, 119);
    padding: 2px;
}

@media (min-width: 768px) {
    .navigation__principale-bouton {
        display: none;
    }

    .nav__liste {
        display: flex;
        background-color: none;
    }

    .navigation__principale {
        background-color: rgb(61, 80, 74);
    }
}

.nav__lien:hover,
.nav__lien:active {
    font-weight: bold;
}

.nav__lien {
    color: white;
    text-decoration: none;
}

/* STYLE POUR LES BOUTONS */

button {
    background-color: rgb(197, 255, 237);
    padding: 10px;
    font-family: 'Mulish';
    color: black;    
}
button:hover,
button:focus {
    font-weight: bold;
    background-color: rgb(166, 234, 213);
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
}


/* ASIDE */
aside {
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Mulish';
}

.footer__paragraphe {
    align-items: center;
    background-color: rgb(176, 189, 185);
    font-family: 'Mulish';
    padding: 20px;
}

.footer__paragraphe a {
    color: black;
}